body{
    /* border-bottom: 1px solid wheat; */
    margin: 0;
    /* height: 100vh;
    width: 100vw;
    position: fixed; */
}

/* FUENTE DE LOS ICONOS */
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?tspgsl');
    src:  url('fonts/icomoon.eot?tspgsl#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?tspgsl') format('truetype'),
      url('fonts/icomoon.woff?tspgsl') format('woff'),
      url('fonts/icomoon.svg?tspgsl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* DECLARACIÓN DE ICONOS */

.icon-menu-left-burger:before {
    content: "\e800";
}
.icon-search:before {
    content: "\e886";
}
.icon-video_call:before {
    content: "\e903";
}
.icon-bell:before {
    content: "\e906";
}
.icon-home:before {
    content: "\e909";
}
.icon-fire:before {
    content: "\e908";
}
.icon-youtube-play:before {
    content: "\e90a";
}
.icon-video_library:before {
    content: "\e905";
}
.icon-clock2:before {
    content: "\e94f";
}
.icon-feed:before {
    content: "\e91d";
}
.icon-cog:before {
    content: "\e994";
}
.icon-flag:before {
    content: "\e9cc";
}
.icon-help:before {
    content: "\e902";
}
.icon-message-square:before {
    content: "\e805";
}
.icon-film:before {
    content: "\e913";
}
.icon-youtube:before {
    content: "\e900";
    color: #f00;
}
.icon-more-vertical:before {
    content: "\e90b";
}
.icon-user-square:before {
    content: "\e856";
}
.icon-currency-dollar:before {
    content: "\e90c";
}
.icon-exit_to_app:before {
    content: "\e901";
}
.icon-language:before {
    content: "\e803";
}
.icon-sphere:before {
    content: "\e9c9";
}
.icon-playlist_play:before {
    content: "\e904";
}
.icon-playlist_add:before {
    content: "\e907";
}
.icon-blocked:before {
    content: "\ea0e";
}
.icon-remove_circle_outline:before {
    content: "\e801";
}



.icon-stack:before {
    content: "\e82e";
}
/* ICONOS QUE FALTAN
    suscriptiones-
    historial-
    tus videos-
    tus peliculas-
    mostrar mas-
    explorar canales-
    videojuegos-
    aprendizaje-
    icon-apps-
    ocultal-
    aspecto
    teclado
*/

/* .icon-user-solid-circle:before {
    content: "\e804";
}
.icon-menu:before {
    content: "\e800";
}
.icon-remove_circle:before {
    content: "\e802";
}
.icon-clock:before {
    content: "\e94e";
} */

/* --------------HEADER-------------- */
.header{
    position: fixed;
    width: 100%;
    background: #ffffff;
    z-index: 1;
}

.bar-top{
    display: flex;
    justify-content: space-between;
    height: 56px;
    padding: 0 16px;
}

.menu-bar-left{
    margin: auto 10px;
    display: flex;
    align-items: center;
}

.icon-menu-left-burger{
    margin-right: 30px;
    line-height: 56px;
    font-size: 16px;
    color: #606060;
}

.menu-bar-left img{
    width: 97px;
}

.menu-bar-left span{
    align-self: flex-start;
    padding-top: 18px;
    padding-left: 7px;
    font-size: 9.5px;
}

.search-bar{
    display: grid;
    grid-template-columns: minmax(40px, 574px) 64px;
    align-content: center;
    align-items: center;
    margin: 0 63px 0 40px;
}

.box-search{
    height: 30px;
    padding: 0 11px;
    border: 1px solid #d3d3d3;
    border-right: none;
    font-size: 16px;
    outline-color: #1c62b9;
}

.search-button{
    text-align: center;
    border: 1px solid #d3d3d3;
    line-height: 28px;
    padding-top: 2px;
}

.button-search{
    color: #828282;
    font-size: 14px;
}

.menu-right{
    height: inherit;
}

.menu-right-items{
    display: flex;
    font-size: 18px;
}

.icon-menu-righ{
    width: 24px;
    font-size: 24px;
    line-height: 56px;
    padding: 0 15px;
    color: #606060;
    /* border: 1px solid; */
}

.menu-right-items .image-profile{
    /* border: 1px solid transparent; */
    border-radius: 50%;
    margin: auto;
    padding: 0 15px;
    width: 32px;
}

.icon-menu-righ.icon-search{
    display: none;
    font-size: 17px;
}

/* MENU PEQUEÑO DE PRESENTACIÓN */

.menu-left-small{
    /* display: none; */
    width: 72px;
    position: fixed;
    left: 0;
    top: 56px;
    padding: 19px 5px;
    text-align: center;
    height: 100vh;
    background: #ffffff;
}

.menu-left-small.change{
    display: none;
}

.left-small-item{
    text-decoration: none;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.icon-menu-left-small{
    font-size: 22px;
}

.menu-left-small p{
    margin: 6px 0 32px;
    font-size: 9px;
    letter-spacing: .5px;
}


/* MENU GRANDE DESPLEGABLE */

.menu-left{
    display: none;
    width: 240px;
    position: fixed;
    left: 0;
    top: 56px;
    text-align: center;
    height: 93vh;
    overflow: auto;
    background: #ffffff;
}

.menu-left.change{
    display: block;
}

.menu-left-item{
    text-decoration: none;
    color: #606060;
    display: grid;
    grid-template-columns: 75px minmax(10px, 165px);
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

/* .menu-left-item{
    background: #e5e5e5;
} */

.icon-menu-left{
    font-size: 21px;
    color: #606060;
}

.menu-left-item p{
    text-align: start;
    margin: 14px 0;
    color: #545454;
    padding-left: 1px;
    font-size: 14px;
}

.menu-left-item:nth-of-type(5){
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
}

.section-tittle{
    text-transform: uppercase;
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 16px;
    font-family: 'Roboto', sans-serif;
    color: #606060;
    font-size: 14px;
}

.image-profile-suscription{
    width: 21px;
    justify-self: center;
    border-radius: 50%;
}

.conditions{
    text-transform: initial;
    color: #606060;
    font-size: 13px;
    text-align: start;
    line-height: 18px;
    padding: 16px 48px 22px 24px;
    margin-top: 10px;
}

.condition{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #606060;
    margin-left: 1px;
}

.copyright{
    display: flex;
    margin: 0 0 8px 24px;
    color: #9a9a9a;
    align-items: center;
}

.icon-copyright{
    font-size: 10px;
}

.text-copyright{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/* MENUS DE LA BARRA PRINCIPAL */

.menu-crear,
.menu-apps,
.menu-notifications,
.menu-profile{
    position: absolute;
    top: 48px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    background: #ffffff;
    z-index: 1;
}

/* MENU CREAR */
.menu-crear{
    display: none;    /*menu oculto*/
    right: 32px;
    width: 206px;
    height: 96px;
}

.menu-crear.deploy,
.menu-apps.deploy,
.menu-notifications.deploy,
.menu-profile.deploy{
    display: block;
}

.menu-crear-item{
    display: grid;
    grid-template-columns: 56px 150px;
    align-items: center;
    text-decoration: none;
    color: #474747;
    margin: 17px 0;
}

.icon-menu-crear{
    justify-self: center;
    font-size: 22px;
}

.menu-crear-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0;
}

/* MENU APPS */
.menu-apps{
    display: none;   /*menu oculto*/
    right: 139px;
    width: 245px;
    height: 250px;
}

.menu-apps-item{
    display: grid;
    grid-template-columns: 57px 188px;
    align-items: center;
    text-decoration: none;
    color: #383838;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.icon-menu-apps{
    justify-self: center;
    font-size: 22px;
}

.menu-apps-item p{
    font-size: 14px;
    margin: 12px 0;
}   

.menu-apps-item:nth-of-type(1){
    border-bottom: 1px solid #dfdfdf;
    margin: 9px 0 8px;
    padding-bottom: 8px;
}

.menu-apps-item:nth-of-type(3){
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

/* MENU NOTIFICACIONES */
.menu-notifications{
    display: none;    /*menu oculto*/
    right: 85px;
    width: 478px;
}

.bar-notification{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    height: 49px;
    border-bottom: 1px solid #e5e5e5;
}

.bar-notification p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #272727;
}

.config{
    font-size: 19px;
    text-decoration: none;
    color: #909090;
    width: 30px;
    height: 30px;
    justify-content: center;
    display: flex;
}

.button-config{
    line-height: 30px;
}

.notifications{
    overflow: auto;
    max-height: 593px;
}

.notification{
    text-decoration: none;
    display: grid;
    grid-template-columns: 80px 238px 96px auto;
    grid-template-rows: 48px;
    padding: 16px;
    padding-left: 0;
    align-items: center;
}

.notification .image-profile{
    width: 46px;
    border-radius: 50%;
    justify-self: center;
}

.content-notification{
    font-family: 'Roboto', sans-serif;
}

.title-notification{
    font-size: 14px;
    color: #141414;
}

.time-notification{
    font-size: 13.4px;
    color: #7a7a7a;
}

.notification .image-content{
    width: 86px;
}

.more-options-notification{
    font-size: 20px;
    justify-self: center;
    align-self: start;
}

.title-notification::before{
    content: "Recomendada: ";
}

/* MENU PERFIL */
.menu-profile{
    display: none;
    right: 17px;
    width: 298px;
    /* overflow: auto; */
    max-height: 712px;
}

.account{
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: repeat(3, 34px);
    grid-template-areas: "image name" "image email" ". admin";
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}

.account .image-profile{
    width: 40px;
    border-radius: 50%;
    grid-area: image;
    justify-self: center;
}

.account p{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.name-account{
    font-size: 16px;
    grid-area: name;
    align-self: end;
}

.email-account{
    font-size: 14px;
    grid-area: email;
    align-self: self-start;
    padding-top: 3px;
}

.admin{
    font-size: 14px;
    grid-area: admin;
    align-self: self-start;
    color: #2d78db;
}

.options-account-container{
    overflow: auto;
    max-height: 610px;
}

.account-options,
.config-global{
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 0;
}

.account-options-item,
.config-global-item{
    display: grid;
    grid-template-columns: 57px auto;
    align-items: center;
    text-decoration: none;
}

.icon-account-options,
.icon-config-global{
    justify-self: center;
    font-size: 20px;
    color: #909090;
}

.account-options-item p,
.config-global-item p{
    font-family: 'Roboto', sans-serif;
    color: #030303;
    font-size: 14px;
    margin: 12px 0;
}

.restrict{
    font-family: 'Roboto', sans-serif;
    padding-left: 17px;
    height: 54px;
    margin: auto;
    align-self: center;
    line-height: 54px;
    font-size: 14px;
}

/* CONTENIDO PRINCIPAL */

/* .container-menus-left-content{
    display: grid;
    grid-template-columns: 82px auto;
    grid-template-areas: "menu content";
    position: absolute;
    top: 56px;
    /* width: 99vw;
}
.container-menus-left-content.change{
    grid-template-columns: 223px auto;
} */


/* CONTENIDO PRINCIPAL */
.main-content{
    margin-top: 56px;
    margin-left: 82px;
    position: absolute;
}

.main-content.change{
    margin-left: 223px;
}

.video-content,
.mix-content{
    display: grid;
    background: #f9f9f9;
    grid-template-columns: repeat(5, minmax(240px, 360px));
    grid-gap: 16px;
    margin: 24px 15px;
}

.video-content{
    
}

.container-content{
    background: wheat;
}

.container-image-content{
    display: flex;
    flex-direction: column;
}

.image-content{
    width: 100%;
}

.duration,
.ver-mas-tarde,
.agregar-lista{
    background: rgba(0, 0, 0, .7);
    color: white;
    position: relative;
    font-family: 'Roboto', sans-serif;
    right: 5px;
    align-self: flex-end;
}

.duration{
    margin: -22px 0 0;
    padding: 1px 5px;
    font-size: 12px;
}

..ver-mas-tarde,
.agregar-lista{
    font-size: 14px;
}

.ver-mas-tarde{

}

.icon-ver-mas-tarde{

}

.ver-mas-tarde p{
    
}

.agregar-lista{
    
}

.icon-agregar-lista{

}

.agregar-lista p{
    
}

.description-content{

}

.description-content .image-profile{
    width: 37px;
    border-radius: 50%; 
}

.tittle-content{

}

.name-account-content{

}

.views-content{

}

.time-content{

}

.more-options-content{

}

.mix-content{

}

.play-max{

}

.play-max p{

}

.play-max i{

}

.reproduction{

}

.reproduction i{

}

.reproduction p{

}

.more-options-mix{

}


/* media queries*/

@media screen and (max-width: 656px){
    .search-bar{
        display: none;
    }
    .icon-menu-righ.icon-search{
        display: block;
    }
}